@model Entity.Concrete.Comment
    <div class="comment-form-wrap pt-5">
        <h3 class="mb-5">Yorum yazın...</h3>
        @using (Html.BeginForm("LeaveComment", "Comment", FormMethod.Post))
        {
            <input name="BlogId" type="hidden" value="@ViewBag.Id" />
            <div class="form-group">
                @Html.Label("İsim *")
                @Html.TextBoxFor(x => x.UserName, new { @PlaceHolder = "İsim Giriniz..", @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.Label("Email *")
                @Html.TextBoxFor(x => x.Mail, new { @PlaceHolder = "İsim Giriniz..", @class = "form-control", @type = "email" })
            </div>

            <div class="form-group">
                @Html.Label("Yorumunuz *")
                @Html.TextAreaFor(x => x.CommentText, new { @PlaceHolder = "Yorum Bırakınız...", @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="message">Puanınız:</label>
                <label>@Html.RadioButton("BlogRating", 1)1</label>
                <label>@Html.RadioButton("BlogRating", 2)2</label>
                <label>@Html.RadioButton("BlogRating", 3)3</label>
                <label>@Html.RadioButton("BlogRating", 4)4</label>
                <label>@Html.RadioButton("BlogRating", 5)5</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Yorum Yap." class="btn btn-primary">
            </div>
        }


    </div>