@model Entity.Concrete.Blog
@{
    ViewBag.Title = "AddNewBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Blog Ekle</h2>
<form class="form-group" method="post">
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.category, new { @class = "form-control" })
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.BlogDate, new { @class = "form-control" })
    @Html.Label("Resim")
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    @Html.Label("Yazar")
    @Html.DropDownListFor(x => x.AuthorId, (List<SelectListItem>)ViewBag.author, new { @class = "form-control" })
    @Html.Label("İçerik")
    @Html.TextAreaFor(x => x.BlogContent, 40, 80, new { @class = "form-control" })
    <br />
    <button class="btn btn-sm- btn-primary">Kaydet</button>
</form>
